// Colors

$black: #2B2B2B;

$green: #A5C63B;
$blue: #3498DB;
$orange: #3498DB;
$red: #E74C3C;
$yellow: #FFCD02;

$mint: #1ABC9C;

$gray-soft: #c9c9c9;
$gray-text: #7F8C8D;

$even-row: #f7f7f7;
$highligted-row: #9f9f9f;